:root {
    --colorBackground: rgb(25, 30, 34);
    --colorSecondary: rgba(112, 128, 144, 0.1);
    --colorButtonHover: rgba(112, 128, 144, 0.25);
    --colorFontPrimary: #fff;
    --colorFontSecondary: rgb(255, 201, 101);
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: var(--colorFontPrimary);
    font-family: 'IBM Plex Mono', monospace;
}

a:link, a:visited {
    text-decoration: none;
}

body {
    background-color: var(--colorBackground);
}

header {
    text-align: center;
}

nav h2 {
    display: inline-block;
    padding: 1rem 2rem;
}

nav h2:hover {
    cursor: pointer;
    color: var(--colorFontSecondary);
    transition: color 120ms linear;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem;
}

.container {
    max-width: 1024px;
}

#about p {
    padding: 1.5rem 3rem;

}

#a_display {
    display: flex;
    justify-content: center;

}

#conta a img {
    width: 128px;
    height: 128px;

    position: relative;
    top: 113px;
}

#pic_resum {
    display: block;
}

#pic_resum div {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    background-color: black;
    text-align: center;
}

#pic_resum div p {
    position: relative;
    top: 56px;
    letter-spacing: 0.375em;
    padding: 0;
}

#pic_resum:hover div p {
    color: var(--colorFontSecondary);
    transition: color 120ms linear;
}

#profilePic {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    float: left;
    margin: 1.5rem;
}

#repos a {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--colorSecondary);
    border-radius: 1rem;
}

#repos a:hover {
    background-color: var(--colorButtonHover);
    transition: background-color 60ms linear;
}

#square {
    display: inline-block;
    width: 128px;
    padding: 112px 0;
}

